.about-container {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-size: cover;
    background-position: center;
  }

  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-portrait{
    height: 300px;
    margin: 20px;
    padding: 20px;
  }