.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-element {
  display: flex;
  justify-content: center;
}

.home-wrapper {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: row; /* align title and subtitle horizontally */
  justify-content: center;
  align-items: center;
  gap: 20px; /* spacing between title/subtitle and portrait */

}

.hero-text {
  flex: 1; /* Take remaining space */
}

.home-portrait-container {
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  overflow: hidden; /* Hide overflow */
  border-radius: 50%; /* Apply rounded corners */
}

.home-portrait {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the container */
}
