.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-size: cover;
  background-position: center;
}

.hero-element {
  text-align: center; /* Center text */
}
