.navbar {
  background-color: #535353; /* Set background color */
  color: #e0e0e0; /* Set text color */
  padding: 10px 0; /* Add some padding */
}

.navbar-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  margin: 0 auto; /* Center the navbar */
  padding: 0 20px; /* Add padding */
  color: #e0e0e0; /* Set text color */
}

.navbar-logo {
  color: #c9c9c9; /* Set text color */
  text-decoration: none; /* Remove underline */
  font-size: 24px; /* Set font size */
  justify-self: left;
}

.navbar-menu {
  list-style: none; /* Remove list bullet points */
  display: flex; /* Use flexbox for layout */
  color: #d3d3d3; /* Set text color */
}

.navbar-button {
  margin-right: 20px; /* Add margin between items */
  color: #e2e2e2; /* Set text color */
}

.navbar-link {
  color: rgb(180, 180, 180) e2e; /* Set text color */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Set font size */
}

.navbar-link:hover {
  text-decoration: underline; /* Add underline on hover */
}
